#fg  {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:400px ;
	margin-top: -50px;
	margin-bottom: -55px;
	font-size: 20px;
	background-color: #00FFFF;
	height: 50px;
	width: 1000px;
	border: none;
}  
.h5 {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -55px;
	font-size: 20px;
	background-color: #00FFFF;
	height: 50px;
	width: 1000px;
}
#def{
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
#header {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
.header2 {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
#header3 {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
.header4 {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
.h1 {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
#link3
{
	padding-left:250px ;
	padding-right:250px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -70px;
	margin-bottom: -70px
}
#links {
	padding-left:250px ;
	padding-right:250px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -70px;
	margin-bottom: -70px;
}
#pro {
	padding-left:80px ;
	padding-right:80px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.offered {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
#link2{
	padding-left:150px ;
	padding-right:150px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px
}

#rev {
	padding-left:-10px ;
	padding-right:-10px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px
}
.N {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.products {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.img {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.amounts {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.pic"{
	padding-left:50px ;
	padding-right:50px ;
	padding-top:50px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
}
.header2 {
	float: left;
	margin: 0 15px 0 0;
	padding: 0 20px 20px 0;
}
#aims {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:100px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}

.org-chart ul {
padding-top: 20px;
position: relative;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.org-chart li {
float: left; text-align: center;
list-style-type: none;
position: relative;
padding: 20px 5px 0 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.org-chart li::before, .org-chart li::after{
content: '';
position: absolute; top: 0; right: 50%;
border-top: 1px solid #ccc;
width: 50%; height: 20px;
}
.org-chart li::after{
right: auto; left: 50%;
border-left: 1px solid #ccc;
}
.org-chart li:only-child::after, .org-chart li:only-child::before {
display: none;
}
.org-chart li:only-child{ padding-top: 0;}
.org-chart li:first-child::before, .org-chart li:last-child::after{
border: 0 none;
}
.org-chart li:last-child::before{
border-right: 1px solid #ccc;
border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
}
.org-chart li:first-child::after{
border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
}
.org-chart ul ul::before{
content: '';
position: absolute; top: 0; left: 50%;
border-left: 1px solid #ccc;
width: 0; height: 20px;
}
.org-chart li a{
border: 1px solid #ccc;
padding: 5px 10px;
text-decoration: none;
color: #666;
font-family: arial, verdana, tahoma;
font-size: 11px;
display: inline-block;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.org-chart li a:hover, .org-chart li a:hover+ul li a {
background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
.org-chart li a:hover+ul li::after,
.org-chart li a:hover+ul li::before,
.org-chart li a:hover+ul::before,
.org-chart li a:hover+ul ul::before{
border-color: #808080;
}
#our {
	padding-left:50px ;
	padding-right:50px ;
	padding-top:100px ;
	padding-bottom:50px ;
	margin-top: -50px;
	margin-bottom: -50px;
	font-size: 20px;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Yaldevi', sans-serif;
}
span{
  color: #fc5c65;
  font-weight:900;
 
}
 
footer{
  background: #f1f1f1;
  padding: 90px 0;
}
 
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
 
.log{
  width: 180px;
}
 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #fc5c65;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
.btn:hover{
  opacity: .7;
}
 
.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }
 
  .left-col{
    width: 100%;
    text-align: center;
  }
}
 
 
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
} 